@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.trigger {
  display: flex;
}

.btn {
  font-size: 14px !important;
  line-height: 24px !important;;
  color: var(--waterloo) !important;
  cursor: pointer;

  &:hover {
    color: var(--jungle-green) !important;
  }

  @include responsive('phone', 'phone-xs') {
    font-size: 16px !important;
    margin: 32px 0 0 0;
    text-align: center;
    background: var(--rhino);
    color: var(--waterloo) !important;

    &:hover {
      color: var(--waterloo) !important;
    }
  }
}

.open {
  color: var(--jungle-green) !important;

  @include responsive('phone', 'phone-xs') {
    color: var(--white) !important;
  }
}

.arrow {
  margin-left: 14px;
}

.list {
  display: flex;
  flex-direction: column;

  @include responsive('desktop', 'laptop', 'tablet') {
    background: var(--white);
    border: 1px solid var(--porcelain);
    padding: 8px 9px;

    @include border-box();

    box-shadow: 0px 4px 8px rgba(24, 27, 43, 0.04), 0px 8px 16px rgba(24, 27, 43, 0.05), 0px 12px 32px rgba(24, 27, 43, 0.05);
    border-radius: $border-radius;
    min-width: 112px;
    position: absolute;
  }
}

.menuItem {
  @include responsive('desktop', 'laptop', 'tablet') {
    padding: 6px 9px;
    color: var(--rhino) !important;
    margin: 0 !important;

    @include text('body-3')
  }

  @include responsive('phone', 'phone-xs') {
    margin: 24px 0 0 !important;
    text-align: center;
  }
}
