.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.checkbox {
  margin: 20px 0 10px;
}

.link {
  color: var(--jungle-green);
  text-decoration: underline;
  font-size: 14px;
  margin-left: 5px;
}

.bottom {
  text-align: right;
}
