---
import { cn } from 'san-webkit-next/ui/utils'

import Metrics from '$components/ui/illustrations/categories/Metrics.astro'
import Changelog from '$components/ui/illustrations/categories/Changelog.astro'
import Education from '$components/ui/illustrations/categories/Education.astro'
import ProductsAndPlans from '$components/ui/illustrations/categories/Products.astro'
import SANtokens from '$components/ui/illustrations/categories/San.astro'
import SanAPI from '$components/ui/illustrations/categories/Sanapi.astro'
import Sansheets from '$components/ui/illustrations/categories/Sansheets.astro'
import Sanqueries from '$components/ui/illustrations/categories/Sanqueries.astro'
import Sanbase from '$components/ui/illustrations/categories/Sanbase.astro'
import Glossary from '$components/ui/illustrations/categories/Glossary.astro'
import Signals from '$components/ui/illustrations/categories/Signals.astro'
import Labels from '$components/ui/illustrations/categories/Labels.astro'
import Youtube from '$components/ui/illustrations/categories/Youtube.astro'

const ILLUSES_MAP = {
  Metrics,
  Changelog,
  Education,
  ProductsAndPlans,
  SANtokens,
  SanAPI,
  Sansheets,
  Sanqueries,
  Sanbase,
  Glossary,
  Signals,
  Labels,
  Youtube,
}

type IconName = keyof typeof ILLUSES_MAP

type Props = {
  title: string
  href: string
  icon: IconName
  wide?: boolean
  description?: string
  maxWidth?: string
}

const { title, href, wide, description, icon, maxWidth } = Astro.props

const Icon = ILLUSES_MAP[icon]
---

<a
  href={href}
  class={cn(
    'group relative flex flex-col items-center justify-center overflow-hidden rounded border border-porcelain',
    'pt-10 px-4 pb-7 sm:p-5 sm:flex-row sm:justify-start',
    'text-rhino transition-all duration-100 ease-in-out',
    'hover:-translate-y-1 hover:cursor-pointer',
    '[&_path,&_rect,&_h4]:transition-colors [&_path,&_rect,&_h4]:duration-200',
    wide && 'py-8 px-10 items-baseline md:pr-[100px] sm:p-5',
  )}
>
  <div
    class={cn(
      'mb-8 flex h-16 w-16 items-center justify-center fill-none sm:mr-2',
      wide &&
        'absolute -right-2.5 top-0 bottom-0 m-0 h-auto w-auto -z-[1] md:-right-8 md:scale-75 md:scale-50',
    )}
  >
    {Icon && <Icon />}
  </div>

  <div style={{ maxWidth }}>
    <h4
      class={cn(
        'mb-2 text-base group-hover:text-green',
        wide ? 'text-left' : 'text-center sm:text-left',
      )}
    >
      {title}
    </h4>

    {
      description && (
        <p
          class={cn(
            'text-sm text-casper',
            wide
              ? 'text-left sm:max-w-[69%]'
              : 'mx-3 text-center sm:ml-0 sm:text-left',
          )}
          set:html={description}
        />
      )
    }
  </div>
</a>
