.wrapper {
  width: 460px;
  margin: 0 auto;
  padding: 30px 80px 36px;
}

.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.options {
  margin: 29px 0 24px;
}

.btn {
  display: block;
  background: #7a859e;
  border-radius: 4px;
  color: #fff;
  fill: #fff;
  padding: 8px 12px;
  text-align: center;
}
