.wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 30px 80px 36px;
  text-align: center;
}

.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.options {
  margin: 29px 0 24px;
}

.btn {
  display: flex;
  align-items: center;
  background: #7a859e;
  border-radius: 4px;
  color: #fff;
  fill: #fff;
  padding: 8px 12px;
  text-align: left;

  &__icon {
    margin-right: 10px;
  }
}

.email {
  &__subtitle {
    font-size: 12px;
    font-weight: normal;
  }

  &__form {
    margin-top: 20px;
  }

  &__btn {
    margin: 15px 0 30px;
  }

  &__link {
    font-size: 12px;
  }

  &__pointer {
    transform: rotate(180deg);
    margin-right: 5px;
    vertical-align: middle;
  }
}
