---
import { cn } from 'san-webkit-next/ui/utils'
import styles from './Loader.module.scss'

type Props = {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class={cn(styles.loader, className)}>Loading...</div>
