# build output
dist/
public/

# generated types
.astro/

# dependencies
node_modules/

#svelte
.svelte-kit

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# static
static/webkit
static/vendors
static/~partytown

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

mkcert
