@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    top: -180px;
    height: 500px;
    z-index: -1;

    background: url('./bg.svg') no-repeat 100% 0px;
    background-size: 30%;
  }
}

.questions {
  margin: 50px auto 0;
  max-width: 720px;
}

.question {
  background: #fff;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  padding: 18px 24px;
  cursor: pointer;
  margin-bottom: 16px;
  user-select: none;

  .opened {
    box-shadow: 0px 20px 50px rgba(24, 27, 43, 0.08);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    fill: var(--waterloo);
    min-width: 15px;

    .opened {
      fill: var(--dodger-blue);
      transform: rotate(180deg);
    }
  }

  &__text {
    @include text("body-2");

    .opened {
      color: var(--dodger-blue);
    }
  }

  @include responsive("laptop", "desktop") {
    &:hover {
      .question__arrow {
        fill: var(--dodger-blue);
      }

      .question__text {
        color: var(--dodger-blue);
      }
    }
  }

  &__answer {
    display: none;
    margin-top: 18px;

    & * {
      font-size: 14px;
    }
  }
}

.opened {
  .question__answer {
    display: block;
  }
  .question__text {
    color: var(--dodger-blue);
  }
  .question__arrow {
    fill: var(--dodger-blue);
    transform: rotate(180deg);
  }
}

.heading {
  margin: 30px 0 20px;
  font-size: 18px;
}

.list {
  padding-left: 20px;
  margin-bottom: 20px;

  &__item {
    list-style: disc;
  }
}

.text,
.item {
  margin-bottom: 20px;

  a {
    color: var(--dodger-blue);
    &:hover {
      text-decoration: underline;
    }
  }

  b {
    font-weight: 700;
    margin: 0 1px;
  }

  &:last-child {
    margin: 0;
  }
}

.item {
  margin-bottom: 6px;
}
