@import '~@santiment-network/ui/mixins.scss';

.wrapper {
	@include responsive('desktop') {
    padding-top: 30px;
  }
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--athens);
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
	height: 282px;
	min-height: 100px;
	height: 100%;
	margin-bottom: 37px;

	@include text('h3', 'm');
	color: var(--mirage);

	@include responsive('phone', 'phone-xs') {
			@include text('body-1', 'm');
  }
}

.intro {
	padding: 32px 40px 45px;
	align-items: flex-start;
	flex-direction: column;
}

.heading {
	margin: 0 0 16px;
}

.description {
	@include text('body-1');
	margin: 0 0 24px;

	  @include responsive('phone', 'phone-xs') {
			@include text('body-2');
  }
}

.join {
	color: var(--white);
	background: $rhino;
	height: 174px;
}
