@import '~@santiment-network/ui/mixins';

.loader {
  position: absolute;
  z-index: 2;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  animation: open forwards 0.2s 0.3s;
  opacity: 0;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dialog {
  width: 500px;
  position: relative;
}

.content {
  padding: 24px 64px;
}

.plan {
  padding: 18px 24px;
  background: #f1f4ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 24px;

  &__check {
    box-sizing: content-box;
    fill: var(--jungle-green);
    padding: 12px 11px;
    height: 7.5px;
    width: 10px;
    background: var(--jungle-green-light);
    border-radius: 50%;
    margin-right: 12px;
  }

  &__left {
    @include text('body-1', 'm');
    color: var(--mirage);
    display: flex;
    align-items: center;
  }

  &__right {
    color: var(--jungle-green);
  }

  &__year {
    @include text('h4', 'm');
  }

  &__month {
    @include text('caption', 'm');
  }
}

.bottom {
  padding: 15px 24px;
  background: var(--athens);
  color: var(--waterloo);
  fill: var(--waterloo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include text('caption');
}
