@import '~@santiment-network/ui/mixins.scss';

.advantages {
  display: grid;
  grid-gap: 24px;
  grid-template-areas: 'chain social financial' 'chain social financial' 'chain social developer' 'interest interest developer';

  @include responsive('phone', 'phone-xs') {
    grid-template-areas: 'chain' 'social' 'financial' 'developer' 'interest';
  }
}

.interest {
  background: var(--athens);
  border-radius: 4px;
  padding: 32px;
  grid-area: interest;
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    height: 222px;
    width: 200px;
    background: url('../../images/interest.svg');
    right: 0;
    top: 45px;

    @include responsive('laptop', 'desktop') {
      right: 9%;
    }
  }

  &__text {
    margin: 12px 0 20px;
    width: 60%;
    @include responsive('desktop') {
      width: 47%;
    }

    @include responsive('laptop', 'tablet') {
      margin: 7px 0 14px;
      font-size: 14px;
    }
  }

  @include responsive('phone-xs') {
    padding: 0;
    background: transparent;
    &__text,
    &__title,
    &::after {
      display: none;
    }
  }
}

.text {
  text-align: left;
}

.btn {
  @include text('body-2');
  padding: 8px 44px;
  height: auto;

  @include responsive('phone-xs') {
    height: 50px;
    justify-content: center;
    width: 100%;
  }
}

.advantage {
  &_onchain {
    grid-area: chain;
  }
  &_financial {
    grid-area: financial;
  }
  &_social {
    grid-area: social;
  }
  &_developer {
    grid-area: developer;
  }
  padding: 30px 40px;
  background: $malibu-accent;
  border-radius: 8px;

  @include responsive('tablet') {
    padding: 20px;
  }

  &__type {
    color: var(--dodger-blue);
    font-size: 18px;
    line-height: 26px;
  }

  &__title {
    text-align: left;
    margin: 22px 0 30px;
    @include responsive('tablet') {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.feature {
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 16px;

  @include responsive('tablet') {
    font-size: 14px;
  }
}
