@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  @include responsive('desktop', 'laptop') {
    background: url('../../images/cases.svg') no-repeat 520px 250px;
  }
}

.subtitle {
  margin: 16px 0 100px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-bottom: 50px;
  }
}

.icon {
  @include responsive('desktop', 'laptop') {
    &_mover {
      margin-left: -15px;
    }
    &_backtest {
      margin-left: -29px;
      margin-bottom: -10px;
    }
    &_integration {
      margin-left: -20px;
    }
  }
}

.br {
  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }
}

.case {
  margin-bottom: 70px;
  width: 40%;

  @include responsive('tablet', 'phone', 'phone-xs') {
    width: 100%;
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &__icon {
    margin-right: 9px;

    @include responsive('tablet', 'phone', 'phone-xs') {
      margin: 0 0 5px;
    }
  }

  &__title {
    text-align: left;
    display: flex;
    align-items: center;

    @include responsive('tablet', 'phone', 'phone-xs') {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
    }
  }

  &__desc {
    text-align: left;

    @include responsive('tablet', 'phone', 'phone-xs') {
      text-align: center;
    }
  }
}
