@import '~@santiment-network/ui/mixins';

.wrapper {
	margin: 7px 0 48px;

	@include responsive('phone', 'phone-xs') {
		margin-bottom: 20px;
	}
}

.list {
	display: flex;
	list-style: none;
	align-items: center;
}

.title {
	@include text('body-3');
	color: $bali-hai;

	@include responsive('phone', 'phone-xs') {
		color: var(--jungle-green);
		text-decoration: underline;
	}
}

.last {
	@include text('body-3');
	color: var(--rhino);
}

.icon {
	margin: 0 14px;
	transform: scale(1.2);
	fill: $bali-hai;

	@include responsive('phone', 'phone-xs') {
		margin: 0 10px 0 0;
	}
}
