@import '~@santiment-network/ui/mixins';

.wrapper {
	margin: 20px 0 48px;

	@include responsive('phone', 'phone-xs') {
		margin-bottom: 20px;
	}
}

.list {
	list-style: none;
	display: inline-block;
}

.title {
	@include text('body-3');
	color: $bali-hai;
	display: inline-block;

	@include responsive('phone', 'phone-xs') {
		color: var(--jungle-green);
		text-decoration: underline;
		display: none;

		&:nth-last-child(2) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
	}
}

.last {
	@include text('body-3');
	color: var(--rhino);
	display: inline;
	word-break: break-word;

	@include responsive('phone', 'phone-xs') {
		display: none;
	}
}

.icon {
	margin: 0 14px;
	transform: scale(1.2);
	fill: $bali-hai;

	@include responsive('phone', 'phone-xs') {
		margin: 0 10px 0 0;
		transform: rotate(180deg);
	}
}
