---
import { cn } from 'san-webkit-next/ui/utils'
import Svg from 'san-webkit-next/ui/core/Svg'

type Props = {
  crumbs: { pathname: string, label: string }[]
  crumbLabel: string
  class?: string
}

const { crumbs, class: className } = Astro.props

---

<nav class={cn("mt-[18px] px-0 text-sm sm:mb-5", className)}>
  <ul class="flex">
    {crumbs.map(({ pathname, label }, index) => (
      <li class="flex items-center before:!content-[''] before:m-0 before:w-0">
      <a href={pathname} class="hover:!no-underline !text-rhino hover:!text-green-hover">{label}</a>

        {index < crumbs.length - 1 && <Svg id="arrow-right" w={8} class="mx-3 scale-125 fill-rhino" />}
      </li>
    ))}
  </ul>
</nav>
