@import '@santiment-network/ui/mixins';

.list {
  list-style: none;
  display: inline-block;
}

.title {
  @include text('body-3');
  color: $bali-hai;
  display: inline-block;
}

.last {
  @include text('body-3');
  color: var(--rhino);
  display: inline;
  word-break: break-word;
}

.icon {
  margin: 0 14px;
  transform: scale(1.2);
  fill: $bali-hai;
}
