@import '@santiment-network/ui/mixins';

.wrapper {
  margin-bottom: 64px;
  display: flex;
  color: var(--rhino);

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.title {
  @include text('h4');
  margin: 0 0 16px;
}

.description {
  @include text('body-2');
  color: var(--waterloo);
  max-width: 255px;
  margin: 0 35px 20px 0;

  @include responsive('phone', 'phone-xs') {
    max-width: 100%;
    margin-right: 0;
  }
}

.block {
  border: 1px solid var(--porcelain);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: var(--rhino);
  padding: 40px 16px 30px;
  transition: all 0.1s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-4px);
      cursor: pointer;
    }
  }

  @include responsive('phone-xs') {
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
  }
}

.icon {
  fill: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  width: 64px;
  height: 64px;

  @include responsive('phone-xs') {
    margin: 0 8px 0 0;
  }
}

.title {
  @include text('body-2');
  margin: 0 0 8px;
  text-align: center;

  @include responsive('phone-xs') {
    text-align: left;
    margin-left: 8px;
  }
}

.length {
  @include text('body-3');
  color: var(--casper);
  text-align: center;
  margin: 0 12px;

  @include responsive('phone-xs') {
    text-align: left;
    margin: 0 0 0 8px;
    @include text('body-3');
  }
}

.disable {
  background-color: var(--athens);

  @media (hover: hover) {
    &:hover {
      transform: translateY(0);
      cursor: not-allowed;
    }
  }

  & .icon {
    background: var(--porcelain);
  }

  & .title {
    color: var(--rhino) !important;
  }
}

.wide {
  padding: 32px 40px;
  align-items: baseline;

  & .icon {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: 0;
    width: auto;
    height: auto;
    z-index: -1;

    @include responsive('phone-xs') {
      right: -10px;
      transform: scale(0.8);
    }

    @include responsive('tablet') {
      right: -10px;
      transform: scale(0.8);
    }
  }

  & .title {
    text-align: left;
    margin-bottom: 8px;

    @include responsive('phone-xs') {
      margin-left: 0;
    }
  }

  & .length {
    text-align: left;
    margin: 0;

    @include responsive('phone-xs') {
      max-width: 69%;
    }
  }

  @include responsive('phone-xs') {
    padding: 20px;
  }
}

.icon svg {
  & path,
  & rect,
  & circle {
    transition:
      fill 0.2s ease,
      stroke 0.2s ease;
  }
}
