@import '~@santiment-network/ui/mixins';

.wrapper {
	margin-bottom: 64px;
	display: flex;
	color: var(--mirage);

  @include responsive('phone', 'phone-xs') {
  	flex-direction: column;
  }
}

.title {
	@include text('h4');
	margin: 0 0 16px;
}

.description {
	@include text('body-2');
	color: var(--waterloo);
	max-width: 255px;
	margin: 0 35px 20px 0;

	@include responsive('phone', 'phone-xs') {
  	max-width: 100%;
  	margin-right: 0;
  }
}

.blocks {
	@include grid-wrap(3);

  @include responsive('phone') {
    grid-template-columns: 1fr 1fr;
  }
}


@import '~@santiment-network/ui/mixins';

.block {
	border: 1px solid var(--porcelain);
	box-shadow: 0px 2px 8px rgba(59, 84, 106, 0.03), 0px 1px 2px rgba(59, 84, 106, 0.03);
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--mirage);
	padding: 40px 16px 30px;
	transition: all .1s ease-in-out;

	@include responsive('laptop', 'desktop') {
		&:hover {
			transform: translateY(-4px);
			cursor: pointer;
			box-shadow: 0px 10px 15px rgba(24, 27, 43, 0.03);
		}
	}


  @include responsive('phone-xs') {
  	flex-direction: row;
  	justify-content: flex-start;
  	padding: 20px;
  }
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--fill);
	background: var(--color);
	border-radius: 50%;
	margin-bottom: 32px;
	width: 64px;
	height: 64px;


	@include responsive('phone-xs') {
  	margin: 0 8px 0 0;
  }
}

.title {
	@include text('body-2');
	margin: 0 0 8px;
	text-align: center;

	@include responsive('phone-xs') {
		text-align: left;
		margin-left: 8px;
	}
}

.length {
	@include text('body-2');
	color: var(--casper);
	text-align: center;
	margin: 0 12px;

	@include responsive('phone-xs') {
		text-align: left;
		margin: 0 0 0 8px;
		@include text('body-3');
	}
}

.disable {
	background-color: var(--athens);

		@include responsive('laptop', 'desktop') {
		&:hover {
			transform: translateY(0);
			cursor: not-allowed;
			box-shadow: 0px 10px 15px rgba(24, 27, 43, 0.03);
		}
	}

	& .icon {
		background: var(--porcelain);
	}

	& .title {
		color: var(--mirage) !important;
	}
}

