@import '~@santiment-network/ui/mixins';

.wrapper {
	background: url(../images/404.svg) center right no-repeat;
	min-height: 70vh;
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	align-items: flex-start;

	@include responsive('laptop') {
		padding: 0 15px;
	}

	@include responsive('phone', 'phone-xs', 'tablet') {
		align-items: center;
		justify-content: flex-start;
		margin-top: 40px;
		background: url(../images/404.svg) bottom center no-repeat;
		padding: 20px 15px;
		min-height: 80vh;
	}
}

.heading {
	@include text('h2', 'l');
	color: var(--rhino);
	margin: 0 0 32px;

	@include responsive('phone', 'phone-xs', 'tablet') {
		@include text('h4', 'l');
		text-align: center;
	}
}

.desc {
	@include text('body-1');
	color: var(--rhino);
	margin: 0 0 40px;
	max-width: 311px;

	@include responsive('phone', 'phone-xs', 'tablet') {
		@include text('body-2');
		text-align: center;
	}
}

.button {
	height: 40px;
	width: auto;
}
