@import '~@santiment-network/ui/mixins.scss';

.title {
  @include text('h3');
}

.tabs {
  margin: 25px 0;
  width: 100%;
}

.tab_selected {
  color: var(--dodger-blue) !important;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    left: 0;
    right: 0;
    border-radius: 1px;
    background: var(--dodger-blue);
  }
}
