@import '~@santiment-network/ui/mixins.scss';

.title {
  @include text('h3');
}

.tabs {
  margin: 25px 0;
  width: 100%;
}

.tab_selected {
  color: var(--dodger-blue) !important;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    left: 0;
    right: 0;
    border-radius: 1px;
    background: var(--dodger-blue);
  }
}

.settings {
  margin-bottom: 50px;

  &__header {
    background: var(--athens);
  }

  &__content {
    padding: 0;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);
  min-height: 60px;
  padding: 17px 20px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
  }

  &:last-child {
    border-bottom: none;
  }

  a {
    font-size: inherit;
    line-height: inherit;
    color: var(--dodger-blue);
    &:hover {
      text-decoration: underline;
      color: var(--dodger-blue-hover);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include responsive('tablet', 'phone', 'phone-xs') {
      flex-direction: column;
      margin-bottom: 10px;
    }

    &_form {
      flex-direction: row;
      align-items: center;
    }
  }

  &__right {
    &_notifications {
      display: flex;
      align-items: center;
    }
  }

  &_apikey {
    display: flex;
  }

  &__description {
    margin-top: 4px;
  }
}

.apikey {
  display: flex;
  height: 32px;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  position: relative;
  min-width: 250px;
  @include responsive('phone-xs') {
    min-width: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 32px;
    width: 30px;
    height: 100%;
    background: linear-gradient(
      270deg,
      #fff 0%,
      #fff 30.94%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__input {
    color: var(--mirage);
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 6px 0 6px 10px;
    border-right: 1px solid var(--porcelain);
  }

  &__icon {
    height: 100%;
    fill: var(--mirage);
    margin: 0 8px;
    cursor: pointer;

    &:hover {
      fill: var(--jungle-green);
    }
  }
}
