@import '~@santiment-network/ui/mixins.scss';

.main {
  max-width: 1140px;
  margin: 0 auto;

  @include responsive('tablet') {
    max-width: 768px;
  }

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 0 15px;
  }

  margin-top: 40px;
}

.title {
  @include text('h3');
}

.email {
  @include text('body-2');
}

.tabs {
  margin: 25px 0;
  width: 100%;
}

.tab_selected {
  color: var(--dodger-blue) !important;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    left: 0;
    right: 0;
    border-radius: 1px;
    background: var(--dodger-blue);
  }
}
