@import "~@santiment-network/ui/mixins.scss";
@import "~@santiment-network/ui/variables.scss";

.wrapper {
  display: flex;
}

.info {
}

.title {
  &,
  &__mark {
    @include text("h1", "m");

    @include responsive("phone", "phone-xs") {
      font-size: 38px;
      line-height: 44px;
    }
  }

  &__mark {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: $malibu-accent;
      bottom: 0;
      top: 0;
      left: -8px;
      right: -8px;
      border-radius: $border-radius;
      z-index: -1;
    }
  }
}

.desc {
  @include text("h4");
  font-weight: 100;
  color: var(--waterloo);
  margin: 32px 0;

  @include responsive("phone", "phone-xs") {
    font-size: 18px;
    line-height: 26px;
  }
}

.access {
  padding: 10px 39px;
  margin-right: 32px;
  height: 50px;
  @include text("body-2");
  @include responsive("phone", "phone-xs") {
    margin-right: 25px;
    font-size: 14px;
    padding: 10px 25px;
  }
}

.doc {
  color: var(--dodger-blue);
  fill: var(--dodger-blue);

  @include responsive("phone", "phone-xs") {
    font-size: 14px;
  }

  &__icon {
    margin-left: 10px;
  }
}

.code {
  border: 1px solid #f2f4fa;
  box-sizing: border-box;
  box-shadow: 0px 4px 50px rgba(56, 74, 167, 0.04),
    0px 60px 40px rgba(56, 74, 167, 0.02);
  border-radius: 8px;
  background: #fff;
  margin-left: 90px;
  min-width: 600px;
  margin-right: -30px;
  margin-top: -50px;

  @include responsive("tablet", "phone", "phone-xs") {
    display: none;
  }

  :global(&__keyword) {
    color: var(--dodger-blue);
    font-size: 14px;
  }

  &__header {
    height: 36px;
    padding: 11px;
    line-height: 0;
    border-bottom: 1px solid #f2f4fa; // NOTE(vanguard): Undefined color
  }

  &__btn {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: var(--porcelain);
    border-radius: 50%;
    margin-right: 10px;
  }

  :global(&__number) {
    user-select: none;
    margin-right: 36px;
    font-size: 14px;
    color: #9faac4;
  }

  :global(&__tab) {
    margin-right: 15px;
  }
}

.source {
  padding: 20px 14px;
  position: relative;
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    left: 40px;
    background: #f2f4fa;
  }

  &__line {
    font-size: 14px;
  }
}

:global {
  section {
    margin-bottom: 150px;
    @include responsive("phone", "phone-xs") {
      margin-bottom: 80px;
    }
  }
}
