@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

:global(.container) {
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.startBlock {
	// margin: 64px auto 80px;
	margin: 34px auto 80px;

	@include responsive('phone', 'phone-xs') {
		margin: 24px auto 30px;
	}
}

.blocks {
	@include grid-wrap(4);
	grid-gap: 18px;

  @include responsive('phone') {
    grid-template-columns: 1fr 1fr;
  }
}
