---
import { cn } from 'san-webkit-next/ui/utils'
import Footer from 'san-webkit-next/ui/app/Footer'
import BaseLayout from "../layouts/BaseLayout.astro"
import SEO from "../components/seo.astro"
import Category from "../components/Category/Category.svelte"
import { REFERENCES, GUIDES } from "../docs/navigation"
import GettingStarted from "../components/GettingStarted/GettingStarted.astro"
import SocialBanner from '../components/Banner/SocialBanner.astro'
import Hero from '../components/Hero/Hero.svelte'
import styles from './index.module.scss'
---

<BaseLayout>
  <SEO title="Crypto Academy: Learn How to Analyze Cryptocurrency Market" />

  <section class="flex flex-col">

    <Hero client:only="svelte" />

    <div class="container">
      <GettingStarted class={styles.startBlock} />
      <h4 class="text-rhino text-lg mt-20 mx-0 mb-8 sm:mt-12 sm:mb-5">Guides</h4>

      <div class="w-full grid gap-6 grid-cols-4 md:grid-cols-2">
        {GUIDES.map(({ title, ...rest }) => (
          <Category key={title} title={title} {...rest} />
        ))}
      </div>

      <h4 class="text-rhino text-lg mt-20 mx-0 mb-8 sm:mt-12 sm:mb-5">References</h4>

      <div class="w-full grid gap-6 grid-cols-2 md:grid-cols-2">
        {REFERENCES.map(({ title, ...rest }) => (
          <Category
            wide
            title={title}
            {...rest}
            maxWidth="295px"
          />
        ))}
      </div>

      <SocialBanner />
    </div>
  </section>

  <Footer class="mt-14" client:visible />
</BaseLayout>
