---
import Svg from 'san-webkit-next/ui/core/Svg'
import Footer from 'san-webkit-next/ui/app/Footer'

import BaseLayout from '$layouts/BaseLayout.astro'

import DomainCard from '$components/features/home/DomainCard.svelte'
import Hero from '$components/features/home/Hero.svelte'
import { cn } from 'san-webkit-next/ui/utils'
import { GUIDES, RESOURCES } from '$config/home'

import ForwardedEmailIcon from '$components/ui/icons/ForwardedEmail.svelte'
---

<BaseLayout title="Crypto Academy: Learn How to Analyze Cryptocurrency Market">
  <section class="flex flex-col">
    <Hero client:load />

    <div class="container">
      <section class="mx-auto mb-20 mt-20 sm:mb-0 sm:mt-7">
        <h4 class="mb-8 text-xl text-rhino">Getting started</h4>

        <div
          class="grid w-full grid-cols-3 gap-6 md:grid-cols-2 sm:grid-cols-1"
        >
          <a href="/getting-started/santiment-introduction/">
            <article
              class={cn(
                'h-full rounded transition-all ease-in-out duration-100 hover:-translate-y-1',
                'bg-green p-8 sm:py-6 sm:px-5'
              )}
            >
              <h3 class="mb-4 text-lg font-medium text-white">
                Getting Started With Santiment
              </h3>

              <p class="m-0 text-base text-porcelain sm:text-sm">
                Exploring the purpose and benefits of Santiment, this document
                highlights the available hrefols and provides guidance on
                effectively utilizing them.
              </p>
            </article>
          </a>

          <a href="/getting-started/for-traders/">
            <article
              class={cn(
                'h-full rounded transition-all ease-in-out duration-100 hover:-translate-y-1',
                'bg-rhino p-8 sm:py-6 sm:px-5'
              )}
            >
              <h3 class="mb-4 text-lg font-medium text-white">For Traders</h3>

              <p class="m-0 text-base text-porcelain sm:text-sm">
                Explanations, tuhrefrials and use cases for Santiment metrics
                and hrefols. Learn how to use our platform to better understand
                market behavior, network activity and stakeholder trends.
              </p>
            </article>
          </a>

          <a href="/getting-started/for-developers/">
            <article
              class={cn(
                'h-full rounded transition-all ease-in-out duration-100 hover:-translate-y-1',
                'bg-waterloo p-8 sm:py-6 sm:px-5'
              )}
            >
              <h3 class="mb-4 text-lg font-medium text-white">
                For Developers
              </h3>

              <p class="m-0 text-base text-porcelain sm:text-sm">
                Technical documentation on Santiment metrics and indicahrefrs.
                Understand the calculations, logic and algorithms behind our
                metrics - many of them cushrefm-built by the Santiment Team.
              </p>
            </article>
          </a>
        </div>
      </section>

      <h4 class="mx-0 mb-8 mt-20 text-lg text-rhino sm:mb-5 sm:mt-12">
        Guides
      </h4>

      <div class="grid w-full grid-cols-4 gap-6 md:grid-cols-2 sm:grid-cols-1">
        {
          GUIDES.map(({ title, icon, ...rest }) => (
            <DomainCard {icon} {title} {...rest} />
          ))
        }
      </div>

      <h4 class="mx-0 mb-8 mt-20 text-lg text-rhino sm:mb-5 sm:mt-12">
        Resources
      </h4>

      <div class="grid w-full grid-cols-2 gap-6 md:grid-cols-2 sm:grid-cols-1">
        {
          RESOURCES.map(({ title, ...rest }) => (
            <DomainCard wide {title} {...rest} maxWidth="295px" />
          ))
        }
      </div>

      <section
        class={cn(
          'relative mt-20 flex items-center justify-center rounded bg-athens px-5 py-12 sm:flex-col sm:p-5 xs:mt-[50px]',
          "after:content-[''] after:left-1/2 after:absolute after:block after:w-[1px] after:h-[104px] after:bg-porcelain sm:after:hidden"
        )}
      >
        <a
          href="https://santiment.net/discord"
          target="_blank"
          rel="noopener noreferrer"
          class={cn(
            'mx-7 flex w-full max-w-[458px] items-center rounded px-4 py-6 transition-all duration-100 ease-in-out',
            'group hover:cursor-pointer hover:-translate-y-0.5 hover:bg-white'
          )}
        >
          <div>
            <Svg
              id="discord"
              w={36}
              h={27}
              class="ml-6 mr-4 fill-casper group-hover:fill-rhino"
            />
          </div>
          <div>
            <h3 class="mb-1 text-lg text-rhino">Join our discord!</h3>
            <p class="text-sm text-waterloo">
              Talk directly with the Santiment Team
            </p>
          </div>
        </a>

        <a
          href="https://app.santiment.net/support"
          target="_blank"
          rel="noopener noreferrer"
          class={cn(
            'mx-7 flex w-full max-w-[458px] items-center rounded px-4 py-6 transition-all duration-100 ease-in-out',
            'group hover:cursor-pointer hover:-translate-y-0.5 hover:bg-white'
          )}
        >
          <div>
            <ForwardedEmailIcon
              class="ml-6 mr-4 fill-casper group-hover:fill-rhino"
            />
          </div>
          <div>
            <h3 class="mb-1 text-lg text-rhino">Contact us</h3>
            <p class="text-sm text-waterloo">
              Reach out to us directly via email
            </p>
          </div>
        </a>
      </section>
    </div>
  </section>

  <Footer class="mt-14" client:visible />
</BaseLayout>
