@import "~@santiment-network/ui/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

.wrapper {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  color: var(--rhino);

  @include text('body-1');
  line-height: 28px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    @include text('body-2');
  }

  h1 {
    color: var(--rhino);
    @include text("h3", "l");
    margin: 26px 0 22px;
  }

  h2 {
    color: var(--rhino);
    @include text("h4", "l");
    padding-bottom: 8px;
    margin: 20px 0 10px;
  }

  h3 {
    color: var(--rhino);
    @include text("body-1", "l");
    margin: 10px 0 8px;
  }

  h4, h5 {
    margin: 10px 0 8px;
  }

  h1,
  h2 {
    position: relative;

    &:hover > .anchor {
      opacity: 1;
    }
  }

  blockquote {
    background: var(--athens);
    padding: 8px 18px;
    border-radius: 8px;
    border: 1px solid var(--porcelain);
    margin: 20px 0;
  }


  .anchor {
    opacity: 0;
    fill: var(--waterloo);
    position: absolute;
    width: 1em;
    left: -1em;
    top: 1px;
    color: inherit;
    text-decoration: none;
    border-bottom: none;

    &:hover {
      fill: var(--jungle-green);
    }

    @include responsive('phone-xs', 'phone', 'tablet') {
    	display: none;
    }
  }

  img {
    width: 100%;
    border: 1px solid var(--porcelain);
    border-radius: 4px;
  }

  p {
    margin: 10px 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--porcelain);
    margin: 18px 0;
  }

  code {
    background: var(--athens);
    padding: 0 6px;
    border-radius: 4px;
    border: 1px solid var(--porcelain);
    display: inline-block;
    margin: 0 2px 2px 0;
    line-height: 20px;
    font-family: Fira Code, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  }

  pre {
    border: 1px solid var(--porcelain);
    border-radius: 4px;
    background: var(--white) !important;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 20px 0;
    padding: 0 !important;
    code {
      white-space: pre;
      border: none;
    	overflow-y: hidden;
      padding: 10px;
      margin-bottom: -10px;
      font-size: 16px;
      background: inherit;
    }
    span {
      font-family: Fira Code, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
    }

    code:first-child {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 10px;
      border: 1px solid var(--porcelain);
    }

    code:last-child {
      padding: 10px 40px;
    }
  }

  iframe {
    width: 100%;
  }

  a {
    color: var(--jungle-green);
    word-break: break-word;

    &:hover {
      color: var(--jungle-green-hover);
      text-decoration: underline var(--jungle-green-light-3);
      text-underline-offset: 4px;
    }
  }

  ul {
    li::before {
      content: "•";
      color: var(--casper);
      transform: scale(1.5);
      display: inline-block;
      vertical-align: top;
      width: 1em;
      margin-left: -1em;
    }
  }

  ol {
    list-style: none;
    counter-reset: li;
    li {
      counter-increment: li;
      &::before {
        content: "."counter(li);
      	color: var(--casper);
        display: inline-block;
        vertical-align: top;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl;
      }
    }
  }

  ul,
  ol {
    padding-left: 18px;

    li {
    	margin-bottom: 8px;

    	P {
    		display: inline-block;
        margin: 0;
    	}
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin: 15px 0;

    @include responsive('phone-xs') {
  		overflow: auto;
    }
  }

  th {
    background: var(--athens);
    padding: 10px 14px;
    text-align: center;
    color: var(--rhino);

    @include text("body-3", "l");
  }

  td {
    color: var(--rhino);
    @include text("body-3");
    text-align: center;
    padding: 12px 16px 12px;
  }

  table,
  th,
  td {
    border: 1px solid #e7eaf3;

    @include responsive('phone-xs') {
  		font-size: 12px;
  		padding: 6px 5px;
    }
  }
}

.codeWrapper {
  position: relative;
}

.copy {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  right: 1px;
  top: 10px;
  width: 44px;
  text-align: center;
  fill: var(--casper);
  background:linear-gradient(270deg,#fff,#fff 60%, hsla(0,0%,100%,0));

  &:hover {
    fill: var(--waterloo);
    cursor: pointer;
  }
}

.copied::before {
  @include text('caption');

  display: block;
  content: 'Copied!';
  position: absolute;
  right: 0;
  bottom: 120%;
  padding: 3px 10px;
  border-radius: 4px;
  background: $fiord;
  color: $white;
}

.checkmark {
  fill: var(--lima);
  background: var(--lima-light);
}

.cross {
  fill: var(--persimmon);
  background: var(--persimmon-light);
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include responsive('phone-xs') {
    width: auto;
    height: auto;
    background: transparent;
  }
}
