@import "~@santiment-network/ui/mixins.scss";

.list {
  position: fixed;
  margin-left: 660px;
  top: 95px;
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  max-width: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;

  @include responsive("phone", "phone-xs", "laptop") {
    display: none;
  }

  @include responsive("tablet") {
    margin-left: 650px;
  }
}

.item {
  position: relative;

  &.hasBefore::before,
  &:not(:last-child)::after {
    content: "";
    display: block;
    height: 4px;
    border-left: 2px solid var(--porcelain);
  }

  a {
    border-left: 2px solid var(--porcelain);
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.current {
  a {
    border-left: 2px solid var(--green);
    color: var(--green);
  }
}

.mt50 {
  margin-top: 50px;
}

.mt170 {
  margin-top: 75px;
}

.heading {
  @include text("body-3");
  font-weight: normal;

  display: block;
  margin: 4px 0;
  padding: 4px 0 4px 16px;
  cursor: pointer;
}

.active {
  &:before {
    position: absolute;
    display: block;
    background: var(--jungle-green);
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 100%;
    border-radius: 8px;
  }
}

.second {
  padding-left: 32px;
}

.third {
  padding-left: 48px;
}

.appLink {
  a {
    display: flex;
    align-items: center;
    color: var(--jungle-green);
    font-size: 14px;

    svg {
      margin-left: 9px;
      transition: transform 0.3s ease-in-out;
      transform: translateX(0);
    }
  }

  &:hover {
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);

    & a svg {
      transform: translateX(4px);
    }
  }
}

.halloween {
  margin-top: 40px;
}
