@import "~@santiment-network/ui/mixins.scss";
@import "~@santiment-network/ui/variables.scss";

.wrapper {
  user-select: none;
  width: 100%;
  background: var(--white);
  border-bottom: 1px solid var(--porcelain);
  position: fixed;
  top: 0;
  z-index: 2;
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  @include responsive("tablet") {
    max-width: 768px;
  }

  @include responsive("phone", "phone-xs") {
    width: 100%;
    padding: 20px 15px;
  }
}

.logo {
  display: flex;
  align-items: center;

  &:hover {
    color: var(--mirage);
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 0.8;
    margin-bottom: 3px;
  }

  &__desc {
    color: var(--waterloo);
    font-size: 13px;
    line-height: 1;
  }
}

:global(#hamburger) {
  display: none;
}

:global([for="hamburger"]) {
  @include responsive("desktop", "laptop", "tablet") {
    display: none;
  }
}

.close {
  position: absolute;
  top: 24px;
  right: 19px;
  fill: var(--white);
}

.nav {
  @include responsive("phone", "phone-xs") {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :global(#hamburger):checked + & {
      display: flex;
    }
  }
}

.link {
  font-size: 14px;
  color: var(--waterloo);
  margin-right: 35px;

  @include responsive("phone", "phone-xs") {
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--athens);
  }
}
