  pre {
    border: 1px solid var(--porcelain);
    border-radius: 4px;
    background: var(--white) !important;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 20px 0;
    padding: 0 !important;

    code {
      white-space: pre;
      border: none;
      overflow-y: hidden;
      padding: 10px;
      margin-bottom: -10px;
      font-size: 16px;
      background: inherit;
    }

    span {
      font-family: Fira Code, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
    }

    code:first-child {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 10px;
      border: 1px solid var(--porcelain);
    }

    code:last-child {
      padding: 10px 40px;
    }
  }
