---
import { cn } from 'san-webkit-next/ui/utils';
import CodeActions from './CodeActions.svelte';

const props = Astro.props;

const lang = props['data-language'] || '';
const encodedCode = props['data-code'] || '';

const isGraphql = lang === 'graphql';
const explorerUrl = `https://api.santiment.net/graphiql?query=${encodedCode}`

const { 'data-language': _, 'data-code': __, ...rest } = props;
---

<div class="relative overflow-x-hidden my-5 border rounded">
  <pre class={cn("shiki-content bg-white overflow-x-auto overflow-y-hidden")}><slot /></pre>

  <CodeActions 
    client:visible
    code={encodedCode} 
  />
</div>

{isGraphql && (
  <div class="explorer-link">
    <strong>
      <a href={explorerUrl} target="_blank" rel="noopener noreferrer">
        Run in explorer
      </a>
    </strong>
  </div>
)}

<style is:global>
  .shiki-content pre, 
  .shiki-content code, 
  .shiki-content span {
    font-family: 'Fira Code', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }

  .shiki-content code {
    display: table;
    width: 100%;
    border-collapse: collapse;
    counter-reset: step;
    font-size: 16px;
    background: inherit;
    border: none;
  }

  .shiki-content .line {
    display: table-row;
  }

  .shiki-content .line::before {
    counter-increment: step;
    content: counter(step);
    display: table-cell;
    width: 10px;
    white-space: nowrap;
    color: var(--casper);
    background: var(--athens);
    border-right: 1px solid var(--porcelain);
    padding: 0px 10px; 
    user-select: none;
  }
  
  .shiki-content .line > span:first-child {
    padding-left: 5px; 
  }

  .shiki-content .line:empty::before {
    content: " ";
  }
</style>
