@import "~@santiment-network/ui/mixins.scss";

.advantages {
  display: flex;
  justify-content: space-between;

  @include responsive("phone", "phone-xs") {
    flex-direction: column;
  }
}

.advantage {
  width: 32%;
  padding: 30px 40px;
  background: var(--athens);
  border-radius: 8px;

  @include responsive("phone", "phone-xs") {
    width: 100%;
    margin-bottom: 10px;
  }

  &__type {
    color: var(--dodger-blue);
    font-size: 18px;
    line-height: 26px;
  }

  &__title {
    text-align: left;
    margin: 22px 0 30px;
  }
}

.feature {
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 16px;
}
