@import "~@santiment-network/ui/mixins.scss";

.advantages {
  display: flex;
  justify-content: space-between;

  @include responsive("phone", "phone-xs") {
    flex-direction: column-reverse;
  }
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 24px;

  @include responsive("phone", "phone-xs") {
    margin: 0;
  }

  &__top {
    display: flex;
    margin-bottom: 24px;

    @include responsive("phone") {
      margin: 0px;
    }

    @include responsive("phone-xs") {
      display: block;
      margin: 0px;
    }
  }

  &__bottom {
    background: var(--athens);
    border-radius: 4px;
    padding: 32px;
  }
}

.right {
  flex: 1;

  @include responsive("tablet") {
    flex: auto;
  }

  @include responsive("phone") {
    display: flex;
  }
}

.text {
  text-align: left;

  &_desc {
    margin: 12px 0 20px;
    @include responsive("desktop") {
      width: 47%;
    }

    @include responsive("laptop", "tablet") {
      margin: 7px 0 14px;
      font-size: 14px;
    }
  }
}

.advantage {
  &_onchain {
    margin-right: 24px;
  }
  &_financial {
    margin-bottom: 24px;

    @include responsive("phone") {
      margin-right: 24px;
      margin-bottom: 24px;
    }
  }
  padding: 30px 40px;
  background: var(--dodger-blue-light);
  border-radius: 8px;

  @include responsive("tablet") {
    padding: 20px;
  }

  @include responsive("phone", "phone-xs") {
    width: 100%;
    margin-bottom: 10px;
  }

  &__type {
    color: var(--dodger-blue);
    font-size: 18px;
    line-height: 26px;
  }

  &__title {
    text-align: left;
    margin: 22px 0 30px;
    @include responsive("tablet") {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.feature {
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 16px;

  @include responsive("tablet") {
    font-size: 14px;
  }
}
