---
import type { TBreadcrump } from '../pages/[...slug].astro'

import { cn } from 'san-webkit-next/ui/utils'
import Svg from 'san-webkit-next/ui/core/Svg'

type Props = {
  breadcrumbs: TBreadcrump[]
  class?: string
}

const { breadcrumbs, class: className } = Astro.props
---

<nav class={cn('mt-[18px] px-0 text-sm sm:mb-5', className)}>
  <ul class="flex">
    {
      breadcrumbs.map(({ pathname, label }, index) => (
        <li class="flex items-center before:m-0 before:w-0 before:!content-['']">
          <a
            href={pathname}
            class="!text-rhino hover:!text-green-hover hover:!no-underline"
          >
            {label}
          </a>

          {index < breadcrumbs.length - 1 && (
            <Svg id="arrow-right" w={8} class="mx-3 scale-125 fill-rhino" />
          )}
        </li>
      ))
    }
  </ul>
</nav>
