@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  color: var(--mirage);
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  color: inherit;
}

a:hover {
  color: var(--jungle-green-hover);
}

section {
  max-width: 1140px;
  margin: 0 auto;

  @include responsive('tablet') {
    max-width: 768px;
  }

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 0 15px;
  }
}

.main {
  margin-top: 120px;

  @include responsive('phone', 'phone-xs') {
    margin-top: 60px;
  }
}

:global(#___gatsby) {
  overflow-x: hidden;

  @include responsive('laptop') {
    padding: 0 15px;
  }
}

:global(.intercom-namespace .intercom-1tsyd6q) {
  z-index: 50 !important;
}
