@import "@santiment-network/ui/main.scss";
@import "@santiment-network/ui/mixins.scss";

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--rhino);
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Proxima Nova', sans-serif;
  list-style: none;
  color: inherit;
}

.main {
  padding: 70px 0 0;
}

.empty {
  display: flex;
  width: 285px;

  flex-grow: 1;

  @apply md:hidden
}

.container {
  display: flex;
  flex-direction: column;

  &.withSidebar {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 85px 40px 0;
      min-height: 86vh;

      @include responsive('laptop', 'desktop', 'tablet') {
        min-height: 86vh;
      }

      @include responsive('phone', 'phone-xs', 'tablet') {
        padding: 85px 0 0;
      }
    }

    .wrapper {
      @include responsive('laptop', 'desktop') {
        display: flex;
        width: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      @include responsive('desktop') {
        width: 885px;
      }

      @include responsive('laptop', 'desktop') {
        z-index: 1;
      }
    }


  }
}

:global(.intercom-namespace .intercom-1tsyd6q) {
  z-index: 50 !important;
}
