.modal {
  position: relative;
}

.loader {
  position: absolute;
  z-index: 2;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
