@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  text-align: center;
  padding: 105px 0 95px;
  background: var(--athens);
  background-image: url("./waves_ready.svg");
  @include responsive("phone", "phone-xs") {
    background: none;
  }
}

.br {
  @include responsive("phone", "phone-xs") {
    display: none;
  }
}

.text {
  margin: 16px 0 24px;
  color: var(--waterloo);
}

.btn {
  padding: 8px 30px;
  color: #fff;
  background: var(--dodger-blue);
  border-radius: 4px;
}
