.subtitle {
  margin: 16px 0 40px;
}

.whys {
  display: flex;
  justify-content: space-between;
}

.why {
  width: 30%;

  &__title {
    margin: 24px 0 16px;
    text-align: left;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 15px;
  }

  &__desc {
    text-align: left;
  }
}
