.subtitle {
  margin: 16px 0 40px;
}

.whys {
  display: flex;
  justify-content: space-between;
}

.why {
  width: 30%;

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--dodger-blue-light);
  }

  &__title {
    margin: 24px 0 16px;
  }
}
