@import '@santiment-network/ui/mixins.scss';

.wrapper {
  height: 100%;
  position: fixed;
  top: 71px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;

  @include responsive('phone', 'phone-xs', 'tablet') {
    display: none;
  }
}

.content {
  border-right: 1px solid var(--porcelain);
  display: flex;
  flex-grow: 1;
  position: relative;
}

.empty {
  display: flex;
  width: 885px;
  flex-grow: 1;
  z-index: -1;
}

.list {
  margin-left: auto;
  margin-bottom: 48px;
  width: 285px;
  padding: 0 0 40px 15px;

  overflow: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.heading {
  margin: 32px 20px 16px 0;
  padding-top: 32px;
  border-top: 1px solid var(--porcelain);
  @include text('body-3', 'm');
  color: var(--casper);

  &:first-child {
    border-top: none;
    margin-top: 0;
  }
}

.arrow {
  border-radius: 4px;
  box-sizing: content-box;
  transition: all 0.05s ease-in-out;
  visibility: hidden;
  cursor: pointer;
  padding: 8px 10px;
  margin-right: 2px;
}

.category {
  border-radius: 6px;
  margin-left: -10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  @include text('body-2');

  &__title {
    width: 100%;
    color: var(--rhino);
  }

  &__active &__title {
    color: var(--jungle-green);
  }

  &__wrapper {
    margin: 12px 0 14px 0;
  }

  &__active {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);

    & .arrow {
      visibility: visible;
    }
  }

  &__opened .articles {
    height: auto;
    margin: 17px 0 17px;
    overflow: visible;
  }

  &__opened .arrow {
    visibility: visible;
    transform: rotate(90deg);
  }

  &__opened .category {
    background-color: var(--jungle-green-light);
    color: var(--rhino);
    fill: var(--jungle-green-hover);
  }

  &__opened .category__active {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }

  &:hover {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green);
    fill: var(--jungle-green);

    & .arrow {
      visibility: visible;
    }
  }
}

.articles {
  margin: 16px 0;
  position: relative;
  transition: all 0.2s ease-in-out;

  height: 0;
  margin: 0;
  overflow: hidden;

  &:before {
    position: absolute;
    display: block;
    background: var(--porcelain);
    top: 0;
    left: 0;
    content: '';
    width: 1px;
    height: 100%;
    border-radius: 8px;
  }
}

.article {
  display: block;
  padding: 4px 0 4px 16px;
  color: var(--fiord);
  position: relative;

  &:hover {
    color: var(--jungle-green);
  }

  @include text('body-2');

  &__active {
    color: var(--jungle-green);

    &:before {
      position: absolute;
      display: block;
      background: var(--jungle-green);
      top: 0;
      left: 0;
      content: '';
      width: 2px;
      height: 100%;
      border-radius: 8px;
    }
  }
}

.block {
  color: var(--rhino);
  margin-top: 8px;
}

.block__active {
  color: var(--jungle-green-hover);
}
