@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  height: 100%;
  position: fixed;
  top: 71px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  // z-index: 1;
  display: flex;

  @include responsive("phone", "phone-xs", "tablet") {
    display: none;
  }
}

.content {
  background-color: var(--athens);
  display: flex;
  flex-grow: 1;
}

.empty {
  display: flex;
  width: 871px;
  flex-grow: 1;
  z-index: -1;
}

.list {
  margin-left: auto;
  margin-bottom: 20px;
  width: 285px;
  padding: 0 0 40px 20px;

  overflow: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.category {
  @include text("caption", "m");
  color: var(--casper);

  &__wrapper {
    margin: 17px 32px 32px 0;

    // &:first-child {
    //   padding-bottom: 32px;
    //   border-bottom: 1px solid var(--porcelain);
    // }
  }
}

.block {
  display: inline-block;
  @include text("body-2");
  color: var(--rhino);
  position: relative;
  padding: 8px 0 0;

  &:hover {
    color: var(--dodger-blue);
  }

  &__active {
  	color: var(--dodger-blue);
  }

  &__disabled {
    color: $bali-hai;

    &:hover {
      color: $bali-hai;
    }

    &:before {
      position: absolute;
      display: block;
      background: var(--porcelain);
      content: "soon";
      left: 100%;
      @include text("caption");
      padding: 0 4px;
      margin: 4px 0 0 10px;
      border-radius: 4px;
    }
  }
}

.articles {
  margin: 16px 0;
  position: relative;

  &:before {
    position: absolute;
    display: block;
    background: var(--porcelain);
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 100%;
    border-radius: 8px;
  }
}

.article {
  display: block;
  margin: 4px 0;
  padding: 4px 0 4px 16px;
  color: var(--waterloo);
  position: relative;

  &:hover {
    color: var(--dodger-blue);
  }

  @include text("body-3");

  &__active {
  	color: var(--dodger-blue);

  	&:before {
			position: absolute;
			display: block;
			background: var(--dodger-blue);
			top: 0;
			left: 0;
			content: '';
			width: 2px;
			height: 100%;
			border-radius: 8px;
		}
  }
}
