@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  height: 100%;
  position: fixed;
  top: 71px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  // z-index: 1;
  display: flex;

  @include responsive("phone", "phone-xs", "tablet") {
    display: none;
  }
}

.content {
  background-color: var(--athens);
  display: flex;
  flex-grow: 1;
}

.empty {
  display: flex;
  width: 885px;
  flex-grow: 1;
  z-index: -1;
}

.list {
  margin-left: auto;
  margin-bottom: 20px;
  width: 285px;
  padding: 0 0 40px 15px;

  overflow: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.heading {
  margin: 32px 0 12px 0;
  @include text("caption", "m");
  color: var(--casper);
}

.arrow {
  padding: 10px;
  box-sizing: content-box;
  transition: all 0.05s ease-in-out;
  visibility: hidden;
  cursor: pointer;

  &:hover {
    transform: scale(1.8);
  }
}

.category {
  border-radius: 4px;
  padding: 2px 4px 2px 10px;
  margin-left: -10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 100%;
  }

  &__wrapper {
    margin: 17px 9px 10px 0;

    // &:first-child {
    //   padding-bottom: 32px;
    //   border-bottom: 1px solid var(--porcelain);
    // }
  }

  &__active {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);

    & .arrow {
      visibility: visible;
    }
  }

  &__opened .articles {
    height: auto;
    margin: 16px 0;
    overflow: visible;
  }

  &__opened .arrow {
    visibility: visible;
    transform: rotate(90deg);

    &:hover {
      transform: rotate(90deg) scale(1.8);
    }
  }

  &__opened .category {
    background-color: var(--jungle-green-light);
    color: var(--rhino);
    fill: var(--jungle-green-hover);
  }

  &__opened .category__active {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }

  &:hover {
    background-color: var(--jungle-green-light);
    color: var(--jungle-green);
    fill: var(--jungle-green);

    & .arrow {
      visibility: visible;
    }
  }
}

.articles {
  margin: 16px 0;
  position: relative;
  transition: all 0.2s ease-in-out;

  height: 0;
  margin: 0;
  overflow: hidden;

  &:before {
    position: absolute;
    display: block;
    background: var(--porcelain);
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 100%;
    border-radius: 8px;
  }
}

.article {
  display: block;
  padding: 4px 0 4px 16px;
  color: var(--waterloo);
  position: relative;

  &:hover {
    color: var(--jungle-green);
  }

  @include text("body-3");

  &__active {
    color: var(--jungle-green);

    &:before {
      position: absolute;
      display: block;
      background: var(--jungle-green);
      top: 0;
      left: 0;
      content: "";
      width: 2px;
      height: 100%;
      border-radius: 8px;
    }
  }
}
