@import '~@santiment-network/ui/mixins.scss';

.footer {
  margin-top: 50px;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-direction: column;

  @include responsive('phone', 'phone-xs') {
    width: 50%;
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  &__item {
    margin-bottom: 14px;
  }
}

.text {
  font-size: 14px;
  color: var(--waterloo);
}

.bottomWrapper {
  padding: 28px 0;
  border-top: 1px solid var(--porcelain);
}

.bottom {
  display: flex;
  justify-content: space-between;


  @include responsive('phone', 'phone-xs') {
    text-align: center;
    flex-direction: column;
  }
}

.rights {
  color: var(--casper);
  @include responsive('phone', 'phone-xs') {
    margin-top: 20px;
  }
}

.link {
  margin-right: 32px;

  &:last-child {
    margin: 0;
  }
}

.planet {
  margin: 0 6px -3px 0;
}

.minified {
  max-width: 590px;
  margin: 0 55px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin: 0;
    max-width: 100%;
  }

  & .bottom {
    justify-content: center;
    align-items: center;
  }

  & .rights {
    margin-left: 32px;
  }
}
