@import "@santiment-network/ui/mixins.scss";

.wrapper {
  width: 100%;
  background: var(--athens);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__small {
    width: 296px;
    // position: absolute;
    position: relative;
    margin-left: auto;
    background: none;
    z-index: 1000;
    align-items: baseline;

    & .input {
      width: 296px;
      height: 32px;
      min-width: auto;

      @include responsive("phone") {
        width: 250px !important;
        height: 40px !important;
      }
    }

    @include responsive("phone") {
      width: 250px !important;
    }

    @media screen and (max-width: 546px) {
      display: none;
    }
  }
}

.input {
  width: 100%;
  height: 32px;
  min-width: 326px;
  padding-left: 44px !important;

  @include responsive("laptop", "desktop", "tablet") {
    width: 500px;
  }

  @include responsive("phone") {
    width: 100%;
  }

  @include responsive("phone-xs") {
    width: 100%;
    font-size: 15px;
  }

  &:focus .ds-dropdown-menu {
    display: block;
  }
}

.icon {
  margin-left: 8px;
}
