@import '~@santiment-network/ui/mixins.scss';

.entriesWrapper {
  margin-bottom: 30px;
}

.loader {
  @include responsive('phone', 'phone-xs') {
    position: static !important;
    margin-top: 0 !important;
  }
}

.loaderWrapper {
  height: 50vh;
}
