.resource {
    display: flex;
    flex-direction: column;
    background: var(--athens);
    border-radius: 8px;
    padding: 24px 32px;
    margin: 24px 0;

    & > div {
        display: flex;
        flex-direction: column;

        p {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            a {
                margin-left: 12px;
            }
        }
    }
}

.header {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--rhino);
    margin-bottom: 12px;
}

