@import '@santiment-network/ui/mixins.scss';

.title {
  @include text('h4');
  margin: 0 0 32px;
  color: var(--rhino);
}

.blocks {
  @include grid-wrap(3);
}

.block {
  padding: 32px 40px 34px;

  @include responsive('phone-xs') {
    padding: 22px 20px 22px 20px;
  }
}

.heading {
  @include text('body-1', 'm');
  margin: 0 0 16px;
  color: var(--white);
}

.description {
  @include text('body-2');
  margin: 0;
  color: var(--porcelain);

  @include responsive('phone-xs') {
    @include text('body-3');
  }
}

.traders {
  background-color: $rhino;
}

.developers {
  background-color: $rhino;
}

.introduction {
  background-color: var(--green);

  & .description {
    color: var(--athens);
  }
}
.block {
  height: 100%;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-4px);
      cursor: pointer;
    }
  }
}
