@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  text-align: center;
  height: 700px;
  width: 100%;
  max-width: none;
  margin: -145px 0 -100px;
  background: url('./girl.svg') no-repeat 37% 86%,
    url('./bg.svg') no-repeat -80px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include responsive('phone', 'phone-xs') {
    background: url('./bg.svg') no-repeat -410px 0;
    z-index: 0;
  }
}

.br {
  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.text {
  margin: 16px 0 24px;
  color: var(--waterloo);
}

.btn {
  padding: 8px 45px;
  height: 50px;
  @include text('body-2');
}
