---
import '../app.css'
import 'san-webkit-next/app.css'

import { ClientRouter } from 'astro:transitions'

import Nav from '$components/Nav.svelte'
import { cn } from 'san-webkit-next/ui/utils'
import AppShell from '$components/AppShell.svelte'

type Props = {
  title?: string
  class?: string
}

const {
  class: className = '',
  title = 'Crypto Academy: Learn How to Analyze Cryptocurrency Market',
} = Astro.props

// TODO:
// 3. Add SEO
// 4. Double check all styles
// 6. Optimize some components
// 8. Add auth for Intercom
// 13. Add analytics
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
  </head>

  <body class={cn('pt-[70px] overflow-x-hidden', className)}>
    <AppShell client:only="svelte" />

    <div data-vaul-drawer-wrapper>
      <Nav client:load transition:persist />

      <slot />
    </div>
  </body>
</html>
