---
import '../app.css'
import 'san-webkit-next/app.css'

import { ClientRouter } from 'astro:transitions'
import Notifications from 'san-webkit-next/ui/core/Notifications'

import Nav from '$components/Nav.astro'
import Intercom from '$components/Intercom.svelte'
import Tracking from '$components/Tracking.svelte'
import CookiesPopupWrapper from '$components/CookiesPopupWrapper.svelte'
import { cn } from 'san-webkit-next/ui/utils'
import HelpFeedback from '$components/HelpFeedback.svelte'

type Props = {
  class?: string
}

const { class: className = '' } = Astro.props

// TODO:
// 2. Add search
// 3. Add SEO
// 4. Double check all styles
// 5. Dynamic page title
// 6. Optimize some components
// 8. Add auth for Intercom
// 9. Move blockquote to styles
// 13. Add analytics
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Academy</title>

    <ClientRouter />
  </head>

  <body class={cn('pt-16 overflow-x-hidden', className)}>
    <Intercom client:only="svelte" />
    <Tracking client:only="svelte" />
    <CookiesPopupWrapper client:only="svelte" />
    <HelpFeedback client:only="svelte" />
    <Notifications client:only="svelte" />

    <div data-vaul-drawer-wrapper>
      <Nav transition:persist />

      <slot />
    </div>
  </body>
</html>
