---
import '../app.css'
import 'san-webkit-next/app.css'

import { ClientRouter } from 'astro:transitions'

import Nav from '$components/Nav.svelte'
import Seo from '$components/Seo.astro'
import { cn } from 'san-webkit-next/ui/utils'
import AppShell from '$components/AppShell.svelte'

type Props = {
  title?: string
  class?: string
}

const {
  class: className = '',
  title = 'Crypto Academy: Learn How to Analyze Cryptocurrency Market',
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} />

    <ClientRouter />
  </head>

  <body class={cn('pt-[70px]', className)}>
    <AppShell client:only="svelte" />

    <div data-vaul-drawer-wrapper>
      <Nav client:load transition:persist />

      <slot />
    </div>
  </body>
</html>
