@import "@santiment-network/ui/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

.wrapper {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 620px;
  font-style: normal;
  font-weight: normal;
  color: var(--rhino);
  word-break: break-word;
  line-height: 28px;

  @apply text-lg md:text-base;

  h1 {
    @apply text-3xl text-rhino;
    margin: 26px 0 32px;
    font-weight: 500;
  }

  h2 {
    @apply text-xl text-rhino;
    margin: 56px 0 24px;
    font-weight: 500;
  }

  h3 {
    @apply text-xl text-rhino;
    margin: 40px 0 24px;
    font-size: 22px;
  }

  h4,
  h5 {
    @apply text-lg text-rhino font-semibold;
    margin: 12px 0 16px;
  }

  img {
    width: 100%;
    border: 1px solid var(--porcelain);
    border-radius: 4px;

    &[alt$='noborder'] {
      border: none;
      border-radius: initial;
      padding-top: 16px;
    }
  }

  p {
    margin: 10px 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--porcelain);
    margin: 18px 0;
  }

  iframe {
    width: 100%;
    border: none !important;
  }

  a {
    color: var(--green);
    word-break: break-word;

    &:hover {
      color: var(--green-hover);
      text-decoration: underline var(--green-light-3);
      text-underline-offset: 4px;
    }
  }

  ul>li::before {
    content: "•";
    color: var(--casper);
    transform: scale(1.5);
    display: inline-block;
    vertical-align: top;
    width: 1em;
    margin-left: -1em;
  }

  ol {
    list-style: none;
    counter-reset: li;

    &>li {
      counter-increment: li;

      &::before {
        content: "." counter(li);
        color: var(--casper);
        display: inline-block;
        vertical-align: top;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl;
      }
    }
  }

  ul,
  ol {
    padding-left: 18px;

    &>li {
      margin-bottom: 8px;

      P {
        display: inline-block;
        margin: 0;
      }
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin: 15px 0;

    @include responsive('phone-xs') {
      overflow: auto;
    }
  }

  th {
    background: var(--athens);
    padding: 10px 14px;
    text-align: center;
    color: var(--rhino);

    @apply text-sm font-semibold;
  }

  td {
    color: var(--rhino);
    @apply text-sm;
    text-align: center;
    padding: 12px 16px 12px;
  }

  table,
  th,
  td {
    border: 1px solid #e7eaf3;

    @include responsive('phone-xs') {
      font-size: 12px;
      padding: 6px 5px;
    }
  }

  mark {
    padding: 16px 24px 16px 48px;
    border: 1px solid var(--porcelain, #E7EAF3);
    border-radius: 8px;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: var(--rhino, #2F354D);
    background-color: transparent;
    position: relative;
    margin-top: 24px;

    strong {
      margin-right: 4px;
    }
  }

  mark:before {
    content: '✅';
    position: absolute;
    left: 12px;
  }
}
