---
import { cn } from 'san-webkit-next/ui/utils'
import { FooterBottom } from 'san-webkit-next/ui/app/Footer'
import Sidebar from '../components/Sidebar/Sidebar.astro'
import Breadcrumb from '../components/Breadcrumb/Breadcrumb.astro'
import ArticleFooter from '../components/ArticleFooter/index.svelte'
import styles from './DocsLayout.module.scss'

type Props = {
  crumbs: any[]
  currentSlug: any
  title: any
}

const { crumbs = [], currentSlug, title } = Astro.props;

---

<div class="flex flex-col">
  <Sidebar />

  <div class="flex w-full">
    <div class="flex w-[286px] flex-grow md:none md:flex-grow-0" />

    <div class="flex flex-col flex-grow w-[885px] z-[1] md:z-0">
      <main class="flex flex-col pt-[85px] px-10 pb-0 min-w-[86vh] md:px-0">
        <div
          class={cn(
            styles.wrapper,
          )}
        >
          <Breadcrumb crumbs={crumbs} crumbLabel={currentSlug} />

          <div class="px-4">

            <h1>{title}</h1>

            <slot />

            <ArticleFooter lastUpdatedAt={''} />

            <FooterBottom />
          </div>
        </div>
        </main>
      </div>
  </div>
</div>
