---
import '../app.css'
import 'san-webkit-next/app.css'

import { ClientRouter } from 'astro:transitions'
import Notifications from 'san-webkit-next/ui/core/Notifications'

import Nav from '$components/layout/Nav.svelte'
import Seo from '$components/layout/SEO.astro'
import SupportButton from '$components/shared/SupportButton.svelte'

import { cn } from 'san-webkit-next/ui/utils'
import type { SidebarSection } from '$modules/navigation/sidebar'

type Props = {
  currentSlug?: string
  sidebarData?: SidebarSection[]
  title?: string
  class?: string
}

const {
  currentSlug,
  sidebarData,
  class: className = '',
  title = 'Crypto Academy: Learn How to Analyze Cryptocurrency Market',
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} />

    <ClientRouter />
  </head>

  <body class={cn('pt-[70px]', className)}>
    <SupportButton client:only="svelte" />
    <Notifications client:only="svelte" />

    <div data-vaul-drawer-wrapper>
      <Nav {currentSlug} {sidebarData} client:load transition:persist />

      <slot />
    </div>
  </body>
</html>

<script>
  import { startLinksListener } from 'san-webkit-next/analytics'
  import { initIntercom } from '$modules/support/intercom'
  import { initCookiesPopup } from '$modules/consent/cookies'

  startLinksListener()
  initIntercom()
  initCookiesPopup()
</script>
