@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.card {
  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0;
    border-radius: 0;
    margin-top: -1px;
  }
}

.billing {
  border: 1px solid var(--porcelain);
  border-bottom: none;
}

.wrapper {
  box-shadow: none;
  border: none;
  background: transparent;
}

.header {
  border: 1px solid var(--porcelain);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.plan {
  padding: 24px;
  box-shadow: none;
  background: var(--athens);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  @include text('h4');
  margin-bottom: 4px;
}
.desc {
  color: var(--waterloo);
  @include text('body-3');
}

.btn {
  padding: 0;
  height: auto;
  background: transparent;
}

.renew {
  position: relative;
  z-index: 1;
}

.highlighted::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  z-index: -1;
  transform: scale(1.5);
  background: rgba($dodger-blue, 0.3);
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1.1, 1.4);
  }
  50% {
    transform: scale(1.2, 1.7);
  }
  100% {
    transform: scale(1.1, 1.4);
  }
}
