@import '~@santiment-network/ui/mixins.scss';

.settings {
  margin-bottom: 50px;

  &__header {
    background: var(--athens);
  }

  &__content {
    padding: 0;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);
  min-height: 60px;
  padding: 17px 20px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
  }

  &:last-child {
    border-bottom: none;
  }

  a {
    font-size: inherit;
    line-height: inherit;
    color: var(--dodger-blue);
    &:hover {
      text-decoration: underline;
      color: var(--dodger-blue-hover);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include responsive('tablet', 'phone', 'phone-xs') {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-top: 4px;
  }
}
