@import '~@santiment-network/ui/mixins';

.trigger {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include responsive('phone-xs', 'phone') {
    display: none;
  }
}

.tooltip {
  z-index: 2000;
  box-shadow: 0 2px 24px rgba(24, 27, 43, 0.04), 1px 3px 7px rgba(47, 53, 77, 0.05);
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  overflow: hidden;

  @include responsive('phone-xs', 'phone') {
    display: none;
  }
}

.container {
  padding: 32px 32px 24px 32px;
  width: 672px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--white);
}

.mobileWrapper {
  display: none;

  @include responsive('phone-xs', 'phone') {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--porcelain);
  }
}

.background {
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 0;
}

.mainLink {
  position: absolute;
  bottom: 23px;
  right: 52px;
  padding: 20px;

  &:hover svg {
    transition: fill 0.2s;
    fill: var(--waterloo);
  }

  @include responsive('phone-xs', 'phone') {
    display: none;
  }
}

.block {
  z-index: 1;
}

.block + .block {
  margin-left: 24px;


  @include responsive('phone-xs', 'phone') {
    margin-left: 0;
  }
}

.business {
  margin-bottom: 24px
}

.product + .product {
  margin-top: 8px;

  @include responsive('phone-xs', 'phone') {
    margin: 0;
  }
}

.title {
  color: var(--waterloo);
  display: flex;
  align-items: center;
  margin: 0 0 20px 16px;

  @include text('body-3');

  @include responsive('phone-xs', 'phone') {
    margin: 16px 0 8px 16px;
  }
}

.products {
  display: flex;
  flex-direction: column;
}
