@import '~@santiment-network/ui/mixins';

.card {
	margin: 24px 0 83px;
	padding: 48px 97px;
	border: 1px solid var(--porcelain);
	box-shadow: 0px 2px 8px rgba(59, 84, 106, 0.03), 0px 1px 2px rgba(59, 84, 106, 0.03);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	transition: all .1s ease-in-out;
	background: url("./lines.svg");

	@include responsive('laptop', 'desktop') {
		&:hover {
			transform: translateY(-4px);
			cursor: pointer;
			box-shadow: 0px 10px 15px rgba(24, 27, 43, 0.03);
		}
	}


	@include responsive('phone', 'phone-xs') {
		padding: 30px;
	}
}

.heading {
	color: var(--rhino);
	margin: 0 0 8px;
	@include text("h4");
}

.description {
	color: var(--waterloo);
	margin: 0;
	@include text("body-2");
	max-width: 450px;
}
