---
import Svg from 'san-webkit-next/ui/core/Svg'
import ForwardedEmailIcon from './ForwardedEmailIcon.svelte'
import { cn } from 'san-webkit-next/ui/utils'
---

<section
  class="relative mt-20 flex items-center justify-center rounded bg-athens px-5 py-12 sm:flex-col sm:p-5 xs:mt-[50px]"
>
  <a
    href="https://santiment.net/discord"
    target="_blank"
    rel="noopener noreferrer"
    class={cn(
      'mx-7 flex w-full max-w-[458px] items-center rounded px-4 py-6 transition-all duration-100 ease-in-out',
      'group hover:cursor-pointer hover:-translate-y-0.5 hover:bg-white'
    )}
  >
    <div>
      <Svg
        id="discord"
        w={36}
        h={27}
        class="ml-6 mr-4 fill-casper group-hover:fill-rhino"
      />
    </div>
    <div>
      <h3 class="mb-1 text-lg text-rhino">Join our discord!</h3>
      <p class="text-sm text-waterloo">Talk directly with the Santiment Team</p>
    </div>
  </a>

  <a
    href="https://app.santiment.net/support"
    target="_blank"
    rel="noopener noreferrer"
    class={cn(
      'mx-7 flex w-full max-w-[458px] items-center rounded px-4 py-6 transition-all duration-100 ease-in-out',
      'group hover:cursor-pointer hover:-translate-y-0.5 hover:bg-white'
    )}
  >
    <div>
      <ForwardedEmailIcon
        class="ml-6 mr-4 fill-casper group-hover:fill-rhino"
      />
    </div>
    <div>
      <h3 class="mb-1 text-lg text-rhino">Contact us</h3>
      <p class="text-sm text-waterloo">Reach out to us directly via email</p>
    </div>
  </a>
</section>
