@import '~@santiment-network/ui/mixins';

.wrapper {
	margin: 0;
	padding: 48px 20px;
	background-color: var(--athens);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&:after {
		content: '';
		left: 50%;
		position: absolute;
		display: block;
		width: 1px;
		height: 104px;
		background: var(--porcelain);
	}

	@include responsive('phone', 'phone-xs') {
		flex-direction: column;
		padding: 20px;

		&:after {
			display: none;
		}
	}
}

.img {
	margin: 0 24px 0 16px;
	fill: var(--casper);
}

.card {
	border-radius: 4px;
	transition: all .1s ease-in-out;
	padding: 25px 17px;
	display: flex;
	width: 100%;
	margin: 0 30px;
	max-width: 458px;
	align-items: center;

	&:hover, &:focus {
		cursor: pointer;
		transform: translateY(-2px);
		background: var(--white);
		box-shadow: 0px 6px 50px rgba(24, 27, 43, 0.03);

		& .img {
			fill: var(--mirage);
		}
	}

	@include responsive('phone', 'phone-xs') {
		margin: 0;
		&:first-child {
			margin-bottom: 15px;
		}
	}
}

.heading {
	color: var(--mirage);
	margin: 0 0 5px;
	@include text("body-1");
}

.description {
	color: var(--waterloo);
	margin: 0;
	@include text("body-3");
}
